
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: hsl(0, 0%, 95%);
    font-family: 'Lexend Deca', sans-serif;

}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* common to all cards */

.card {
    max-width: 25vw;
    padding: 1.5em;
    margin-bottom: 2rem;
    margin-top: 5rem;
}

.card__title {
    font-family:  'Big Shoulders Display', cursive;
    color: hsl(0, 0%, 95%);
    margin-bottom: 2rem;
}

.card__body {
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 4.7rem;

}

.card__image {
    margin: 2rem 0;
}

.btn {
    background-color: hsl(0, 0%, 95%);
    font-size: 1.1em;
    padding: 0.8em;
    border-radius: 50px;
    width: 62%;
    margin-bottom: 1.5rem;
}

.btn:hover {
    background-color: white;
}

/* xxxxxxxxxxxxxxxxxx */

.card--Sedans {
    background-color: hsl(31, 77%, 52%);
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
}

.card--SUVs {
    background-color: hsl(184, 100%, 22%);
}

.card--Luxury {
    background-color: hsl(179, 100%, 13%);
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
}

.btn--sedans {
    color: hsl(31, 77%, 52%);
}

.btn--suvs {
    color:hsl(184, 100%, 22%);
}

.btn--luxury {
    color:hsl(179, 100%, 13%);
}

@media (max-width:1100px) {
    .container {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
    }

    .card {
        margin: 0;
        max-width: 88vw;
        border-radius: 0;
    }

    body {
        width: auto;
        height: auto;
    }

    .btn {
        width: 55%;
    }

    .card--Sedans {
        margin-top: 3.7rem;
        border-top-right-radius: 5px;
        border-top-left-radius: 5px;
    }

    .card--Luxury {
        margin-bottom: 3.7rem;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
    }
    
}
